<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" (click)="changeHomeIcon()">
      <ion-icon [src]="isHomeSelected ? clickedHomeIcon : homeIcon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2" (click)="changeMenuIcon()">
      <ion-icon [src]="isMenuSelected ? clickedMenuIcon : menuIcon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3" (click)="changeActivityIcon()">
      <ion-icon [src]="isActivitySelected ? clickedActivityIcon : activityIcon"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
