<ion-content class="konten" >

  <div class="atas">
      <div class="nav">
          <div>
              <img class="foto" src="../../assets/imgs/foto.png">
              <span style="margin-left: 8px;">Halo, <strong>Niko!</strong></span>
              <ion-icon style="float: right;"name="ios-notifications-outline"></ion-icon>
          </div>
      </div>
      <h3 style="margin-top: 20px;">
          <strong>Pilih Menu</strong>
      </h3>
  </div>
  
  <div class="bawah">
    <button class="buton delivery" ion-button round>Delivery</button>
    <button class="buton pickup" ion-button round>Pick Up</button>
    <ion-card class="isi">
      
      <!-- your fav -->
      <div class="judul">Your Favorite</div>
      <ion-list>
          <ion-item lines="none">
            <ion-row>
              <ion-col size="2"> 
                  <img src="../../assets/imgs/menu.png"/>
              </ion-col>
              <ion-col size="8">
                <div class="judulmenu">Es Cocopresso</div>
                <div class="harga">Rp 21.000</div>
                <div class="deskripsi">Lorem, ipsum dolor sit amet</div>
              </ion-col>
              <ion-col size="2" style="text-align: center;">
                  <ion-icon  name="heart-empty"></ion-icon>
                  <button (click)="popup()" class="buton2" ion-button> <ion-icon name="add"></ion-icon></button>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item lines="none">
            <ion-row>
              <ion-col size="2"> 
                  <img src="../../assets/imgs/menu.png"/>
              </ion-col>
              <ion-col size="8">
                <div class="judulmenu">Es Cocopresso</div>
                <div class="harga">Rp 21.000</div>
                <div class="deskripsi">Lorem, ipsum dolor sit amet</div>
              </ion-col>
              <ion-col size="2" style="text-align: center;">
                  <ion-icon  name="heart-empty"></ion-icon>
                  <button (click)="popup()" class="buton2" ion-button> <ion-icon name="add"></ion-icon></button>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item lines="none">
            <ion-row>
              <ion-col size="2"> 
                  <img src="../../assets/imgs/menu.png"/>
              </ion-col>
              <ion-col size="8">
                <div class="judulmenu">Es Cocopresso</div>
                <div class="harga">Rp 21.000</div>
                <div class="deskripsi">Lorem, ipsum dolor sit amet</div>
              </ion-col>
              <ion-col size="2" style="text-align: center;">
                  <ion-icon  name="heart-empty"></ion-icon>
                  <button (click)="popup()" class="buton2" ion-button> <ion-icon name="add"></ion-icon></button>
              </ion-col>
            </ion-row>
          </ion-item>
      </ion-list>
  

      <!-- iced coffe -->
      <div class="judul" style="margin-top: 10px;"><strong>Iced Coffe</strong></div>
      <ion-list>
          <ion-item lines="none">
            <ion-row>
              <ion-col size="2"> 
                  <img src="../../assets/imgs/menu.png"/>
              </ion-col>
              <ion-col size="8">
                <div class="judulmenu">Es Cocopresso</div>
                <div class="harga">Rp 21.000</div>
                <div class="deskripsi">Lorem, ipsum dolor sit amet</div>
              </ion-col>
              <ion-col size="2" style="text-align: center;">
                  <ion-icon  name="heart-empty"></ion-icon>
                  <button (click)="popup()" class="buton2" ion-button> <ion-icon name="add"></ion-icon></button>
              </ion-col>
            </ion-row>
          </ion-item >
          <ion-item lines="none">
            <ion-row>
              <ion-col size="2"> 
                  <img src="../../assets/imgs/menu.png"/>
              </ion-col>
              <ion-col size="8">
                <div class="judulmenu">Es Cocopresso</div>
                <div class="harga">Rp 21.000</div>
                <div class="deskripsi">Lorem, ipsum dolor sit amet</div>
              </ion-col>
              <ion-col size="2" style="text-align: center;">
                  <ion-icon  name="heart-empty"></ion-icon>
                  <button (click)="popup()" class="buton2" ion-button> <ion-icon name="add"></ion-icon></button>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item lines="none">
            <ion-row>
              <ion-col size="2"> 
                  <img src="../../assets/imgs/menu.png"/>
              </ion-col>
              <ion-col size="8">
                <div class="judulmenu">Es Cocopresso</div>
                <div class="harga">Rp 21.000</div>
                <div class="deskripsi">Lorem, ipsum dolor sit amet</div>
              </ion-col>
              <ion-col size="2" style="text-align: center;">
                  <ion-icon  name="heart-empty"></ion-icon>
                  <button (click)="popup()" class="buton2" ion-button> <ion-icon name="add"></ion-icon></button>
              </ion-col>
            </ion-row>
          </ion-item>
      </ion-list>
    </ion-card>
  </div>
  
  </ion-content>
  